<% slotted = slots.find_all { |s| (s.skillship.skill_id == skill_id) && (s.event_id == event.id) && (s.skillship.membership.active?) } %>
<% slotted.map! { |s| [s.skillship.membership.user.name_or_email, s.skillship_id] } %>

<% could_be_slotted = skillships.find_all { |sk| (sk.skill_id == skill_id) && (sk.membership.active?) } %>
<% could_be_slotted.map! { |sk| [sk.membership.user.name_or_email, sk.id] } %>

<div style="display:none;" class='remote'>
	<%= form_for event, :url => slots_team_event_path(team, event), :html => { :method => 'put' } do |f| %>
		<%= hidden_field_tag :skill_id, skill_id %>
		<table class="picker">
			<tbody>
				<tr class="label">
					<td>Assigned</td>
					<td></td>
					<td>Not assigned</td>
				</tr>
				<tr>
					<td><%= select_tag :remove, options_for_select(slotted), :multiple => true %></td>
					<td class="center"><%= submit_tag '<<', :name => :add_slots %><br /><%= submit_tag '>>', :name => :remove_slots %></td>
					<td><%= select_tag :add, options_for_select(could_be_slotted - slotted), :multiple => true %></td>
				</tr>
			</tbody>
		</table>													
	<% end %>
</div>

