<div class="content shadow">
  <div class="header">
    <h1>Set team administrators</h1>
  </div>
  <div class="form assign">
    <%= form_for @team, { :url => admins_team_path(@team), :method => 'put' } do %>
      <div class="action">
        <%= submit_tag "Save these changes" %>
        <%= link_to "&laquo;  Cancel".html_safe, edit_team_path(@team) %>
        <span>and don't change <br />administrators</span>
      </div>
  
      <table>
        <tbody>
          <tr><td class="note">Note: The "Team administrators" setting applies only to this team. </td></tr>
          <tr><td class="note"><strong>Which people are team administrators? </strong></td></tr>

					<% @account_admins.each do |account_admin| %>
						<tr>
							<td>
								<label>
										<%= check_box_tag nil, nil, true, :disabled => true %>
										<%= account_admin.name_or_email %>
										<% if current_account.owner_id == account_admin.id %>
											(account owner)
										<% else %>
											(account administrator)
										<% end %>
								</label>
							</td>
						</tr>
					<% end %>
          
					<% @memberships.each do |membership| %>					
						<% if !@account_admins.include?(membership.user) || !current_account.owner_id == membership.user.id %>
							<tr>
								<td>
									<label>
										<%= check_box_tag "membership_id[]", membership.id, membership.admin %>
										<%= membership.user.name_or_email %>
									</label>
								</td>
							</tr>
						<% end %>
					<% end %>
					
        </tbody>
      </table>
    <% end %>
  </div>
</div>
