<% content_for :head do %>
	<%= stylesheet_link_tag "jquery/plugins/qtip/jquery.qtip" %>
	<%= javascript_include_tag "jquery/plugins/qtip/jquery.qtip.min.js" %>
	<script type="text/javascript">
    $(document).ready(function(){
	
			$("td.cell").each(function(){
				$(this).qtip({
					content: { 
						text: $('div.remote', $(this)),
						title: {
							text: $(this).attr('data-title'),
							button: 'x'
						} 
					},
					show: 'click',
					hide: 'unfocus',
					style: { 
						classes: 'ui-tooltip-light ui-tooltip-shadow' 
					},
					position: { 
						adjust: { screen: true } 
					}
				});
			});

	
	
	
	
	
	
			// arm select all/none links ..
			$(".bulk_links a").click(function(){
				var action = $(this).attr("data-action")
				
				if (action == "select-all") { $(".checkbox").attr("checked", true) }
				else { $(".checkbox").attr("checked", false) }
				
				return false
			})
    })
  </script>
<% end %>
<div class="content shadow">
	<div class="header">
		<h2>People scheduled for <%= @team.name %></h2>
	</div>
	
	<div class="for_slots">
		<% if !@team.skills.any? %>
			<div class="blank_slate">
				<% if team_admin?(@team, current_user)%>
			    <%= image_tag 'empty_box.png', :style => 'width:125px;' %>
					<div class="message">
						<h2>Let's add the first skill to this team! </h2>
						<p>
							No skills are set for this team. 
							Skills are things team members can do. 
							They help you decide who to schedule for events.
						</p>
		      	<%= render :partial => 'shared/button_link', :locals => { :url => new_team_skill_path(@team), :text => 'Add a new skill' } %>				
					</div>
				<% else %>
			    <%= image_tag 'disconnect.png', :style => 'width:125px;' %>
					<div class="message">
						<h2>You can't view the schedule at this time </h2>
						<p>
							No skills are set for this team. 
							Skills are things team members can do. 
							A team administrator still needs to add skills to this team. 					
						</p>
					</div>
				<% end %>
			</div>
			
		<% elsif !@team.events.any? %>
			<div class="blank_slate">
				<% if team_admin?(@team, current_user)%>
			    <%= image_tag 'empty_box.png', :style => 'width:125px;' %>
					<div class="message">
						<h2>Let's add the first event for this team! </h2>
						<p>
							No events are set for this team.
							You'll use this page to assign your people to events. 
							Events belong to teams, and you can assign your people to events by what they can do (their skills).
						</p>
		      	<%= render :partial => 'shared/button_link', :locals => { :url => new_team_event_path(@team), :text => 'Add a new event' } %>				
					</div>
				<% else %>
			    <%= image_tag 'disconnect.png', :style => 'width:125px;' %>
					<div class="message">
						<h2>You can't view the schedule at this time </h2>
						<p>
							No events are set for this team. 
							A team administrator still needs to add one or more events to this team. 					
						</p>
					</div>
				<% end %>
			</div>
		<% else %>		
			<% if @selected_events.any? %>
				<% @selected_events.each_slice(@cols) do |events| %>
					<table class="header">
						<tbody>
						<tr>
							<td class="skills"></td>
							<% @cols.times do |i| %>
								<% if events[i].nil? %>
									<td class="blank"></td>
								<% else %>
									<td>
										<%= events[i].name %>
									</td>
								<% end %>
							<% end %>
						</tr>
					</tbody>
				</table>
				<table>
					<tbody>
						<% @team.skills.each do |skill| %>
							<tr>
								<td class="skills"><%= skill.name %></td>
								<% @cols.times do |i| %>
									<% if events[i].nil? %>
										<td class="blank"></td>
									<% else %>
										<td class="cell" data-title="<%= "skill_id:#{skill.id} event_id:#{events[i].id}" %>">
											<div style="display:none;" class='remote'>
												<%= form_for events[i], :url => slots_team_event_path(@team, events[i]), :html => { :method => 'put' } do |f| %>
													<%= hidden_field :skill_id, skill.id %>
													<% options = @skillships.find_all { |s| s.skill_id == skill.id}.map { |s| [s.last_name + ', ' + s.first_name, s.id] }%>
													<%= select_tag :skillship_ids, options_for_select(options), :multiple => true %>
													<%= submit_tag 'Save' %>
												<% end %>
											</div>
										</td>
									<% end %>
								<% end %>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
			<% else %>
				<div class="blank_slate">
			    <%= image_tag 'disconnect.png', :style => 'width:125px;' %>
					<div class="message">
						<h2>Choose an event or events to schedule</h2>
						<p>
							You have not selected any events. 
							Pick one or more events to schedule from the team event list.
						</p>
					</div> 
				</div>
			<% end %>
		<% end %>
	</div>
</div>