<div class="content shadow">
  <div class="header">
    <h2>Update your <%= APP_NAME %> profile details</h2>
  </div>
  
  <div class="form"> 
    <%= form_for @user, :url => { :action => :update }  do |f| %>
      <%= render 'shared/errors', :object => f.object %>
    
      <fieldset class="profile">
        <table>
          <tbody>
            <tr>
              <td><%= f.label :password %></td>
              <td>
                <%= f.password_field :password %>
              </td>
            </tr>
            <tr class="hint">
              <td>&nbsp;</td>
              <td>
                <div>4 characters or longer. Add at least one number for extra safety. </div>
              </td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation, 'Confirm<br />password'.html_safe %></td>
              <td>
                <%= f.password_field :password_confirmation %>
              </td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      <div class="footer">
        <%= f.submit 'Change password' %>
        or <%= link_to 'Cancel', edit_user_path(current_user), :class => 'cancel' %>
      </div>
    <% end %>

    <fieldset class="edit_gravatar">
      <%= gravatar_for @user, :size => 70, :default => :identicon %>
      <h3>Your gravatar image</h3>
      <p>
        Your profile image is provided by the free Gravatar service, which generates a unique avatar image for you from your email address.
        Replace it with your own custom image by visiting gravatar.com.
      </p>
      <p><%= link_to 'Change my Gravatar image', "http://en.gravatar.com/", :target => '_blank' %></p>
    </fieldset>
  </div>
</div>
