<div class="content round shadow signin">
  <h3>
    <% if @user.forgot_hash_created_at.nil? %>
      Set your <%= APP_NAME %> password
    <% else %>
      Reset your <%= APP_NAME %> password
    <% end %>
  </h3>
  <p>
    <% if @user.forgot_hash_created_at.nil? %>
      Hello <%= @user.first_name_or_email %>,<br /><br />
      Welcome to <%= APP_NAME %>! 
      Please use the form below to set the password for your new account.
      You'll use your email address as your login name. 
    <% else %>
      Hello <%= @user.first_name_or_email %>,<br />
      Please use the form below to set a new password.
    <% end %>
  </p>
  <%= form_for @user, :url => { :action => 'update_reset', :id => @user.id }  do |f| %>
    <%= render 'shared/errors', :object => f.object %>
  
    <%= image_tag '/images/lock.png', { :alt => 'Secure' } %>
    <fieldset>
      <div class="field">
        <%= f.label :email, 'Your email' %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
        <div class="hint">
          6 characters or longer. Add at least one number for extra safety.
        </div>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, 'Confirm your new password' %><br />
        <%= f.password_field :password_confirmation %>
      </div>
    </fieldset>
    <div class="footer">
      <% if @user.forgot_hash_created_at.nil? %>
        <%= f.submit 'Set my password' %>
      <% else %>
        <%= f.submit 'Reset my password' %>
      <% end %>
    </div>
  <% end %>
</div>
