<div id="sidebar">
  <h1>Delete this team?</h1>
  <p>
    Deleting a team <strong>immediately and permanently deletes</strong> all the data associated with this team
    (events, event teams, schedules, files, etc).
    <strong>There is no Undo</strong> so make sure you're absolutely sure you want to delete this team.
    <br /><br />
    <%= link_to "Yes, I understand - delete this team".html_safe, team_path(@team), :method => :delete, :class => 'cancel', :confirm => "Are you sure you want to delete this team?\nNote: There is no undo.\n" %>
  </p>
  
	<h1>
    Team administrators
		<%= link_to "Change", admins_team_path(@team) %>
  </h1>
	<ul>
		<li>
			<%= gravatar_for(account_owner, { :size => 35 }) %>
			<div>
				<%= account_owner.name_or_email %>
				<br /><span>Account owner</span>
			</div>
		</li>
		
		<% @admin_accountships.each do |accountship| %>
			<% unless accountship.user_id == account_owner.id %>
				<li>
					<%= gravatar_for(accountship.user, { :size => 35, :default => :identicon }) %>
					<div>
						<%= accountship.user.name_or_email %>
						<br /><span>Account administrator</span>
					</div>
				</li>
			<% end %>
		<% end %>
		
		<% @admin_memberships.each do |membership| %>
			<li>
				<%= gravatar_for(membership.user, { :size => 35, :default => :identicon }) %>
				<div>
					<%= membership.user.name_or_email %>
					<br /><span>Team administrator</span>
				</div>
			</li>			
		<% end %>
	</ul>
</div>
