<div id="sidebar">
	<h1>Team events</h1>
	<%= form_for @team, :url => { :action => 'slots' }, :html => { :method => 'get' } do |f| %>
		<ul class="events">
			<% if @team.events.any? %>
					<li class="bulk_links">Select: <a href="#" data-action="select-all">All events</a> | <a href="#" data-action="clear-all">None</a></li>
					<% @team.events.sort { |a,b| a.start_at <=> b.start_at }.each do |e| %>
						<li>
							<label for="<%= "event_#{e.id}" %>">
								<%= check_box_tag 'show_events[]', e.id, @selected_events.map { |e| e.id }.include?(e.id), :id => "event_#{e.id}", :class => "checkbox" %>
								<%= e.name %>
								<div>
									<%= Date.parse(e.start_at_date).strftime("%a, %d %B") %><%= ", #{Time.parse(e.start_at_time).strftime("%l:%M%P").downcase.strip.chop}" unless e.start_at_time.nil? %>
								</div>
							</label>
						</li>
					<% end %>
					<li>
						<%= hidden_field_tag 'reset_events?', 'on' %>
						<%= f.submit 'Show selected events' %>
					</li>
			<% else %>
				<li class="none">No events were returned for this team&nbsp;..</li>
			<% end %>
		</ul>
	<% end %>
</div>