<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table width="100%" style="font-size:1.0em;"><tr><td>
      <p><%= @account.name %></p>
      <h2>Thank you for adding <%= @account.name %> to <%= APP_NAME %>!</h2>
      <p>Hi <%= @user.first_name_or_email %>,</p>
      <p>
        You have successfully set up your account.
        If you already have an account with us through another church or organization,
        you'll use your existing login credentials to sign in.
        If you are brand new to <%= APP_NAME %>,
        you can set a new password for your account from the reset link below.

        <div style="background-color:#ebf3fe;padding:1em;margin:1em;border:solid 1px #acd5e8;">
          <strong>Signin here: </strong>
          <br />
          For returning members.
          <br />
          <%= link_to signin_url, signin_url %>
          <br /><br />
          <strong>Set or reset your password: </strong>
          <br />
          <%= link_to profile_reset_url(@user.forgot_hash), profile_reset_url(@user.forgot_hash) %>
        </div>
      </p>
      <p>
        Sign in to begin adding people, events, and schedules to your account - everything should be all set to go!
        If you have questions or need assistance, our support staff will give you any help you need.
        Just send them a note at <%= mail_to SUPPORT_EMAIL %>.
      </p>
      <hr />
      <p style="font-size:0.8em;">
        Having problems? 
        Contact support at <%= mail_to SUPPORT_EMAIL %>.
      </p>
    </td></tr></table>
  </body>
</html>








