<% content_for :head do %>
  <script type="text/javascript">
    
    $(document).ready(function(){
			var dirty = false
      
      $(".bulk_links a").click(function(){
				var action = $(this).attr('data-action')
				
				if (action == 'update-all') {
					$(".checkbox").attr("checked", true)
				}
				else {
					$(".checkbox").attr("checked", false)
					dirty = true
				}
				return false
      })

			$(".checkbox").change(function(){
				if ($(this).attr("checked") == "") {dirty = true}
			})
			
			$(".submit").click(function(){
				var answer 
				if (dirty) {
					answer = confirm($(this).attr("data-message"))
					if (!answer) {
						return false
					}
				}
			})
    })
  </script>
<% end %>

<div class="content shadow">
  <div class="header">
    <h1>Assign this skill to team members</h1>
  </div>
	<% if @memberships.any? %>
	  <div class="form assign">
	    <%= form_tag skillships_team_skill_path(@team, @skill), :method => :put do %>
		    <div class="action">
					<%= submit_tag 'Save these changes', :class => 'submit', 'data-message' => 'Are you sure? If you are removing this skill from any members, they will be removed from events where they are scheduled for this skill. There is no undo. ' %>
		      <%= link_to "&laquo;  Cancel".html_safe, edit_team_skill_path(@team, @skill) %>
		      <p>
		        <span>Assign skills</span>
						Check the box in front of someone's name to assign this skill to them. 
						Uncheck to remove the skill.
						<br /><br />
						If a member is checked here, you will be able to schedule them for '<%= @skill.name %>' when you create an event.
		      </p>
		    </div>
		    <table>
		      <thead>
		        <tr>
		          <th><%= @skill.name %></th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td class="bulk_links">
		            Assign skill to:
		            <%= link_to 'Everyone', '#', 'data-action' => 'update-all' %>
		            | <%= link_to 'No one', '#', 'data-action' => 'clear-all' %>
		          </td>
		        </tr>          
		        <% @memberships.each do |membership| %>
		          <tr>
		            <td>
			            <label>
			              <%= check_box_tag "membership_ids[]", membership.id, @skill.memberships.include?(membership), :id => nil, :class => 'checkbox' %>
			              <%= membership.user.name_or_email %>
			            </label>
		            </td>
		          </tr>
		        <% end %>
		      </tbody>
		    </table>
			<% end %>
	  </div>
	<% else %>
		<div class="blank_slate">
	    <%= image_tag 'empty_box.png', :style => 'width:125px;' %>
			<div class="message">
					<h2>There are no members on this team</h2>
					<p>
						Before you can assign this skill, you'll need some members to assign it to!
						Add some members from your account, and then return to this page to assign their skills.
					</p>
	      	<%= render :partial => 'shared/button_link', :locals => { :url => new_team_membership_path(@team), :text => 'Add the first member' } %>				
		</div>
	<% end %>
</div>
