<div id="header">
  
  <% if @context == 'accounts' %>
  
    <%= render :partial => 'shared/status' %>
    <h1><%= current_account.name %></h1>
    
  <% elsif @context == 'teams' %>
  
    <div class="include_backlink">
      <ul><li><%= link_to "&laquo; Back to teams".html_safe, current_user %></li></ul>
      <%= render :partial => 'shared/status' %>
      <h1>
        <%= "team name" %>
        <span><%= current_account.name %></span>
      </h1>
    </div>
    
  <% else %>
  
    <%= render :partial => 'shared/status' %>
    <h1><%= current_account.name %></h1>
    
  <% end %>
  
  <%= render 'shared/tabstrip' %>
</div>
