<div id="header">
  
  <% if (controller.controller_name == 'accounts') || (controller.controller_name == 'sessions')  %>
  
    <%= render :partial => 'shared/status' %>
    <h1>
      <% unless current_account.nil? %>
        <%= current_account.name %></h1>
      <% else %>
        <%= APP_NAME %>
      <% end %>
    
  <% elsif controller.controller_name == 'teams' %>
  
    <div class="include_backlink">
      <ul><li><%= link_to "&laquo; Back to teams".html_safe, current_user %></li></ul>
      <%= render :partial => 'shared/status', :locals => { :team => @team } %>
      <h1>
        <%= @team.name%>
        <span><%= current_account.name %></span>
      </h1>
    </div>
    
  <% else %>
  
    <%= render :partial => 'shared/status', :locals => { :team => @team } %>
    <h1><%= current_account.name %></h1>
    
  <% end %>
  
  <%= render 'shared/tabstrip' %>
</div>
