<div class="status">
  <% if admin? %>
    <% if (@context == 'teams') || (@context == 'team_settings') %>
      <%= link_to "Team settings", edit_team_path(@team), :class => 'settings' %>
    <% else %>
      <%= current_user.name_or_email %>
    <% end %>
  <% else %>
    <%= current_user.name_or_email %>
  <% end %>
  | <%= link_to 'my info', edit_user_path(current_user) %>
  | <%= link_to 'sign out', signout_path, :method => :delete %>
  | <a href="#">Help</a>
</div>
