<% if ['accounts'].include?(controller.controller_name) && ['index'].include?(controller.action_name) %>
  <ul class="tabs">
    <li><%= link_to 'Churches', sessions_accounts_path, :class => 'accounts' %></li>
    <li><%= link_to 'Sign out', signout_path, :method => :delete %></li>
  </ul>
  
<% elsif ['teams', 'memberships', 'skills', 'events'].include?(controller.controller_name) && !(['teams'].include?(controller.controller_name) && ['new', 'create'].include?(controller.action_name)) %>
  <ul class="tabs">
    <li><%= link_to "Overview", @team, :class => 'teams' %></li>
    <% if admin? %>
      <li><%= link_to "Skills", team_skills_path(@team), :class => 'skills' %></li>
    <% end %>
    <li><%= link_to "Events", "/" %></li>
    <li><%= link_to "Files", "/" %></li>
  </ul>
  <% if admin? %>
    <ul class="tabs admin">
      <li><%= link_to "People and permissions", team_memberships_path(params[:id]), :class => 'users' %></li>
      <li><%= link_to "Email", "/" %></li>
    </ul>
  <% end %>
  
<% else %>
  <ul class="tabs">
    <li><%= link_to 'Dashboard', current_user, :class => 'dashboard' %></li>
    <li><%= link_to 'Churches', sessions_accounts_path, :class => 'accounts' %></li>
    <li><a href="#">Events</a></li>
  </ul>
  <% if admin? %>
    <ul class="tabs admin">
      <li><%= link_to 'All people', users_path, :class => 'users' %></li>
      <% if current_account.owner == current_user %>
        <li><%= link_to 'Account', edit_account_path(current_account), :class => 'account' %></li>
      <% end %>
      <li><a href="#">Email</a></li>
    </ul>
  <% end %>
<% end %>
