<% if @context == 'accounts' %>
  <ul class="tabs">
    <li><%= link_to 'Churches', sessions_accounts_path, :class => 'accounts' %></li>
    <li><%= link_to 'Sign out', signout_path, :method => :delete %></li>
  </ul>
  
<% elsif controller.controller_name == 'teams' %>
  <ul class="tabs">
    <li><%= link_to "Overview", @team, :class => 'teams' %></li>
    <% if admin? %>
      <li><%= link_to "Skills", "/" %></li>
    <% end %>
    <li><%= link_to "Events", "/" %></li>
    <li><%= link_to "Files", "/" %></li>
  </ul>
  <% if admin? %>
    <ul class="tabs admin">
      <li><%= link_to "People and permissions", "/" %></li>
      <li><%= link_to "Email", "/" %></li>
    </ul>
  <% end %>
  
<% else %>
  <ul class="tabs">
    <li><%= link_to 'Dashboard', current_user, :class => 'dashboard' %></li>
    <li><%= link_to 'Churches', sessions_accounts_path, :class => 'accounts' %></li>
    <li><a href="#">Your events</a></li>
  </ul>
  <% if admin? %>
    <ul class="tabs admin">
      <li><%= link_to 'All people', users_path, :class => 'users' %></li>
      <li><a href="#">Email</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  <% end %>
<% end %>
