<% content_for :head do %>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>  
	<script type="text/javascript">
	
		var options = {dateFormat: 'yy-mm-dd'}
	
		function clear_date_picker(){
			$("table.time input").val('')
			$("div.end input").val('')
		}
		
		function set_date_picker(is_all_day, trigger){
			time_inputs = $("table.time")
			end_date_input = $("div.end")
			

			if (is_all_day) {
				trigger.addClass('multi')
				trigger.text('Make this a one-day event')
				time_inputs.hide()
				end_date_input.show()
			console.log("running set_date_picker ..")
			}
			else {
				trigger.removeClass('multi')
				trigger.text('Make this a multi-day event')
				time_inputs.show()
				end_date_input.hide()
			}
		}
    
    $(document).ready(function(){

			// arm the date-picker text fields ..
			$("#datepicker_start").datepicker(options)
			$("#datepicker_end").datepicker(options)
	
			// arm the date selector trigger ..
			$(".trigger a").click(function(){

				clear_date_picker()
				if ($(this).hasClass("multi")) { 
					set_date_picker(false, $(this))
				}
				else { 
					set_date_picker(true, $(this)) 
				}				
				return false
			})
			
    })
  </script>
<% end %>

<h3>Event name</h3>
<p class="block_intro">Provide a name for this event. </p>
<div class="block">
  <%= f.text_field :name %>
</div>
<h3>When?</h3>
<p class="block_intro">The start date and optional ending date. Start and end times are optional. </p>
<div class="block date">
		<table>
			<tbody>
				<tr>
					<td>
						<% if @event.all_day %>
							<% trigger_text = 'Make this a one-day event'%>
							<% end_at_display_style = ''%>
							<% trigger_class = 'multi' %>
							<% time_field_display_style = 'display:none;'%>
						<% else %>
							<% trigger_text = 'Make this a multi-day event'%>
							<% end_at_display_style = 'display:none;'%>
							<% trigger_class = '' %>
							<% time_field_display_style = '' %>
						<% end %>
						<div class="start">
							<%= f.text_field :start_at_date, :class => 'date_field	', :id => "datepicker_start", :readonly => "readonly" %>
						</div>
						<div class="end" style="<%= end_at_display_style %>">
							<%= f.text_field :end_at_date, :class =>'date_field', :id => "datepicker_end", :readonly => 'readonly' %>
						</div>
						<div class="trigger">
							<a href="#" class="<%= trigger_class%>"><%= trigger_text %></a>
						</div>
					</td>
					<td style="vertical-align:top;">
						<table class="time" style="<%= time_field_display_style %>">
							<tbody>
								<tr>
									<td class="label">&nbsp;from&nbsp;</td>
									<td>
										<div><%= f.text_field :start_at_time, :class => 'time_field start_time' %></div>
										<div class="hint">ex. 9:30 am</div>
									</td>
									<td class="label">&nbsp;to&nbsp;</td>
									<td>
										<%= f.text_field :end_at_time, :class => 'time_field end_time' %>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
</div>
<h3>Description</h3>
<p class="block_intro">Provide an optional description. </p>
<div class="block">
  <%= f.text_area :description, :cols => 50, :rows => 10 %>
</div>