<% content_for :head do %>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>  
	<script type="text/javascript">
		function clear_date_picker(){
			$("span.time input").val('')
			$("div.end input").val('')
		}
    
    $(document).ready(function(){
	
			// arm the datepickers ..
			options = {
				dateFormat: 'yy-mm-dd'
			}
			$("#datepicker_start").datepicker(options)
			$("#datepicker_end").datepicker(options)
	
			// show and hide the start/end date form fields..
			$(".trigger a").click(function(){
				trigger = $(this)
				time_inputs = $("table.time")
				end_date_input = $("div.end")
				
				clear_date_picker()
				
				if (trigger.hasClass("multi")) {
					trigger.removeClass('multi')
					trigger.text('Make this a multi-day event')
					time_inputs.show()
					end_date_input.hide()
				}
				else {
					trigger.addClass('multi')
					trigger.text('Make this a one-day event')
					time_inputs.hide()
					end_date_input.show()
				}
				
				return false
			})
    })
  </script>
<% end %>

<h3>Event name</h3>
<p class="block_intro">Provide a name for this event. </p>
<div class="block">
  <%= f.text_field :name %>
</div>
<h3>When?</h3>
<p class="block_intro">The start date and optional ending date. Start and end times are optional. </p>
<div class="block date">
		<table>
			<tbody>
				<tr>
					<td>
						<div class="start">
							<%= f.text_field :start_at_date, :class => 'date_field	', :id => "datepicker_start", :readonly => "readonly" %>
						</div>
						<div class="end" style="display:none;">
							<%= f.text_field :end_at_date, :class =>'date_field', :id => "datepicker_end", :readonly => 'readonly' %>
						</div>
						<div class="trigger">
							<a href="#">Make this a multi-day event</a>
						</div>
					</td>
					<td style="vertical-align:top;">
						<table class="time">
							<tbody>
								<tr>
									<td class="label">&nbsp;from&nbsp;</td>
									<td>
										<div><%= f.text_field :start_at_time, :class => 'time_field' %></div>
										<div class="hint">ex. 9:30 am</div>
									</td>
									<td class="label">&nbsp;to&nbsp;</td>
									<td>
										<%= f.text_field :end_at_time, :class => 'time_field' %>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
</div>
<h3>Description</h3>
<p class="block_intro">Provide an optional description. </p>
<div class="block">
  <%= f.text_area :description, :cols => 50, :rows => 10 %>
</div>