<h3>Event name</h3>
<p class="block_intro">Provide a name for this event. </p>
<div class="block">
  <%= f.text_field :name %>
</div>
<h3>When?</h3>
<p class="block_intro">The start date and optional ending date. Start and end times are optional. </p>
<div class="block date">
		<table>
			<tbody>
				<tr>
					<td>
						<div class="start">
							<%= f.text_field :start_at_date, :class => 'date_field	', :id => "datepicker_start", :readonly => "readonly" %>
						</div>
						<div class="end" style="display:none;">
							<%= f.text_field :end_at_date, :class =>'date_field', :id => "datepicker_end", :readonly => 'readonly' %>
						</div>
						<div class="trigger">
							<a href="#">Make this a multi-day event</a>
						</div>
					</td>
					<td style="vertical-align:top;">
						<table class="time">
							<tbody>
								<tr>
									<td class="label">&nbsp;from&nbsp;</td>
									<td>
										<div><%= f.text_field :start_at_time, :class => 'time_field' %></div>
										<div class="hint">ex. 9:30 am</div>
									</td>
									<td class="label">&nbsp;to&nbsp;</td>
									<td>
										<%= f.text_field :end_at_time, :class => 'time_field' %>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
</div>
<h3>Description</h3>
<p class="block_intro">Provide an optional description. </p>
<div class="block">
  <%= f.text_area :description, :cols => 50, :rows => 10 %>
</div>