<% content_for :head do %>
  <script type="text/javascript">
    
    $(document).ready(function(){
			$("tr, .hover_menu").hover(
				function(){
					$(this).children("td").children(".hover_menu").show()
				},
				function(){
					$(this).children("td").children(".hover_menu").hide()
				}
			)
    })
  </script>
<% end %>

<div class="content shadow">
  <div class="header">
	<% if admin? || team_admin?(@team, current_user) %>
		<div class="link_bar">
			<%= link_to 'New event', new_team_event_path(@team) %>
		</div>
	<% end %>
    <h2>All events for <%= @team.name %></h2>
  </div>
	<% if @events.any? %>
		<% today = Date.new %>
		<div class="listing for_events">
			<table>
				<% @events.first.start_at.to_date.downto(@events.last.start_at.to_date) do |date| %>
					<% events_start_at = @events.map { |e| e.start_at.to_date }%>
					<% if events_start_at.include?(date) %>
						<tr class="date">
							<td class="when" colspan="2">
								<% if date == Time.now.to_date %>
								<h2 class="today">
									<span>Today</span>
								</h2>
								<% else %>
								<h2>
									<span><%= date.strftime("%A, %d %B %Y") %></span>
								</h2>
								<% end %>
							</td>
							<td>&nbsp;</td>
						</tr>
					<% end %>
					<% @events.each do |event| %>
						<% if event.start_at.to_date == date %>
							<tr>
								<td class="what">
									<span class="event">Event</span>
									<div class="start_at"><%= event.all_day_text %></div>
								</td>
								<td class="item">
									<div><%= link_to event.name, team_event_path(@team, event) %></div>
									<% unless event.description.blank? %>
										<div class="desc"><%= event.description %></div>
									<% end %>
										<% if current_user.teams.include?(@team) %>
											<% membership = current_user.memberships.where('team_id =?', @team.id).first %>
											<% availability = Availability.where('membership_id = ? AND event_id =?', membership.id, event.id).first %>
											
											<% if availability.nil? %>
												<%= form_for :availability, :url => { :action => :create, :controller => :availabilities } do |f| %>
													<%= f.hidden_field :event_id, :value => event.id %>
													<%= f.hidden_field :membership_id, :value => membership.id %>
													<%= f.submit 'available', :name => 'free?' %>
													<%= f.submit 'not available' %>
												<% end %>
											<% else %>
												<%= form_for availability, :url => team_availability_path(@team, availability) do |f| %>
													<%= f.submit 'available', :name => 'free?' %>
													<%= f.submit 'not available' %>
												<% end %>
											<% end %>

											<% if availability.nil? %>
												<% avail_class = '' %>
												<% unavail_class = '' %>
											<% elsif availability.free? %>
												<% avail_class = 'selected' %>
												<% not_avail_class = '' %>
											<% else %>
												<% avail_class = '' %>
												<% not_avail_class = 'selected' %>
											<% end %>
											<ul class="avail">
												<li class="available"><a href="#" class="<%= avail_class %>">Available?</a></li>
												<li class='not_available'><a href="#" class="<%= not_avail_class %>">Not available?</a></li>
											</ul>
										<% end %>
											
								</td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
			</table>
		</div>
	<% else %>
		<div class="blank_slate">
	    <%= image_tag 'empty_box.png', :style => 'width:125px;' %>
			<div class="message">
				<% if team_admin?(@team, current_user) || admin? %>
					<h2>Let's add the first event to this team! </h2>
					<p>
						You'll need some events before you can start scheduling your people.
						Once you do, you can add people to events by skill.
					</p>
	      	<%= render :partial => 'shared/button_link', :locals => { :url => new_team_event_path(@team), :text => 'Add the first event' } %>				
				<% elsif %>
					<h2>This team doesn't have any events! </h2>
					<p>
						A team administrator still needs to create some events for this team. 
					</p>
				<% end %>
			</div>
		</div>
	<% end %>
</div>