<% content_for :head do %>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>  
	<script type="text/javascript">
		function clear_date_picker(){
			$("span.time input").val('')
			$("div.end input").val('')
		}
    
    $(document).ready(function(){
	
			// arm the datepickers ..
			options = {
				dateFormat: 'yy-mm-dd'
			}
			$("#datepicker_start").datepicker(options)
			$("#datepicker_end").datepicker(options)
	
			// show and hide the start/end date form fields..
			$(".trigger a").click(function(){
				trigger = $(this)
				time_inputs = $("table.time")
				end_date_input = $("div.end")
				
				clear_date_picker()
				
				if (trigger.hasClass("multi")) {
					trigger.removeClass('multi')
					trigger.text('Make this a multi-day event')
					time_inputs.show()
					end_date_input.hide()
				}
				else {
					trigger.addClass('multi')
					trigger.text('Make this a one-day event')
					time_inputs.hide()
					end_date_input.show()
				}
				
				return false
			})
    })
  </script>
<% end %>

<div class="content shadow">
  <div class="header">
    <h2>Add an event for <%= @team.name %></h2>
  </div>
  <div class="form">
    <%= form_for @event, :url => { :action => 'create' } do |f| %>
      <%= render 'shared/errors', :object => @event %>
      <%= render 'fields', :f => f %>      
      <div class="footer">
        <%= f.submit "Save changes" %>
        or <%= link_to "Cancel", team_events_path(@team), :class => 'cancel' %>
      </div>
    <% end %>
  </div>
</div>