<div class="content shadow">
  <div class="header">
		<% if admin? || team_admin?(@team, current_user) %>
			<div class="link_bar">
				<%= link_to 'New event', new_team_event_path(@team) %>
				|
				<%= link_to 'Edit', edit_team_event_path(@team, @event) %>
			</div>
		<% end %>
		<%= link_to "&laquo; All events".html_safe, team_events_path(@team), :class => 'back_link' %>
  </div>
	<div class="listing event">
		<h6><%= @event.when_range_text %></h6>
		<h2><%= @event.name %></h2>
		<p>
		<% if @event.description.blank? %>
			No description provided
		<% else %>
			<%= @event.description %>
		<% end %>
		</p>
	</div>
</div>