<!DOCTYPE html>
<html>
<head>
  <title>Worshipschedule</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <%= stylesheet_link_tag 'default',  :media => 'screen' %>
    <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->  

  </head>
<body>
  <div class="container showgrid">
    <div class="span-24 last" id="header">
      #header
    </div>
    <div class="span-17" id="main">
      #main
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %> 
      <%= yield %>
    </div>
    <div class="span-7 last" id="sidebar">
      #sidebar
    </div>
    <div class="span-24 last" id="footer">
      #footer
    </div>
    <% if Rails.env.development? %>
      <div class="span-24"><%= debug(params) %></div>
    <% end %>
  </div>
</body>
</html>
