<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <%= stylesheet_link_tag 'style',  :media => 'screen' %>
  <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->  
</head>
<body id="page_<%= @context %>">
  <div class="container">
    <div class="span-24 last">
      <div id="header">
        <div class="user">
          <%= "email@email.com" %>
          | <a href="#">My info</a>
          | <%= link_to 'sign out', signout_path, :method => :delete %>
          | <a href="#">Help</a>
        </div>
        <h1><%= header_text %></h1>
        <ul class="tabs">
          <li><a href="#" class="dashboard">Dashboard</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
        </ul>
      </div>
    </div>
    <div class="span-18">
      <div id="main">
        <%= render 'shared/show_flash' %>
        <div class="content shadow">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="span-6 last">
      <div id="sidebar">
        <ul>
          <% if signed_in? %>
            <li><%= link_to 'sign out', signout_path, :method => :delete %>
          <% else %>
            <li><%= link_to 'sign in', signin_path %>
          <% end %>
        </ul>  
      </div>
    </div>
    <div class="span-24 last">
      <div id="footer">
        Managed with <%= link_to APP_NAME, root_url %>
      </div>
    </div>
  </div>
    <% if Rails.env.development? %>
      <div class="span-24"><%= debug(params) %></div>
      <div class="span-24"><%= debug(session) %></div>
    <% end %>
</body>
</html>
