<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery/jquery-1.5.min.js", "rails" %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <%= stylesheet_link_tag 'style',  :media => 'screen' %>
  <%= stylesheet_link_tag 'signin',  :media => 'screen' %>
  <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->  
</head>
<body id="page_<%= @context %>">
  <div class="container">
    <div class="span-24 last">
      <div id="main">
        <div class="content round shadow">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
    <% if Rails.env.development? %>
      <div class="span-24"><%= debug(params) %></div>
      <div class="span-24"><%= debug(session) %></div>
    <% end %>
</body>
</html>
