<div class="content shadow">
  <div class="header">
    <h2>Set administrators</h2>
  </div>
  <div class="form assign">
    <%= form_for current_account, { :url => admins_account_path(current_account), :method => 'put' } do %>
      <div class="action">
        <%= submit_tag "Save these changes" %>
        <%= link_to "&laquo;  Cancel".html_safe, users_path %>
        <span>and don't change <br />administrators</span>
      </div>
  
      <table>
        <tbody>
          <tr><td class="note">Note: The "Administrators" setting applies across all teams. </td></tr>
          <tr><td class="note"><strong>Which people are administrators? </strong></td></tr>
          
          <% @accountships.each do |accountship| %>
            <% unless (accountship.user == current_user) || (accountship.user == current_account.owner) %>
              <% if accountship.admin? %>
                <tr>
                  <td>
                    <label>
                <%= check_box_tag "accountship_ids[]", accountship.id, accountship.admin? %>
                <%= accountship.user.name %>
                    </label>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td>
                  <label>
              <%= check_box_tag "place_holder", accountship.id, true, :disabled => 'disabled' %>
              <%= accountship.user.name %>
              <%= "(Account Holder)" if (accountship.user == current_account.owner) %>
                  </label>
                </td>
              </tr>
            <% end %>
          <% end %>
          
          <% @accountships.each do |accountship| %>
            <% unless (accountship.user == current_user) || (accountship.user == current_account.owner) %>
              <% unless accountship.admin? %>
                <tr>
                  <td>
                    <label>
                      <%= check_box_tag "accountship_ids[]", accountship.id, accountship.admin? %>
                      <%= accountship.user.name_or_email %>
                    </label>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
          
        </tbody>
      </table>
    <% end %>
  </div>
</div>
